server:
  port: 8080
  domain: ${SERVER_DOMAIN}
client:
  domain: ${CLIENT_DOMAIN}
spring:
  ai:
    factchat:
      base-url: ${LLM_BASE_URL}
      key: ${LLM_API_KEY}
      model: ${LLM_MODEL}

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
  web:
    resources:
      static-locations: file:/uploads/images/

  mail:
    host: "smtp.gmail.com"
    port: 587
    username: ${GMAIL_USER}
    password: ${GMAIL_PW}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable : true





  application:
    name: "blog-local-api"

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GG_ID}
            client-secret: ${GG_SECRET}
            redirect-uri: ${SERVER_ORIGIN}/oauth2/callback/google
            scope:
              - profile
              - email
          github:
            clientId: ${GH_ID}
            clientSecret: ${GH_SECRET}
            redirect-uri: ${SERVER_ORIGIN}/oauth2/callback/github
            scope:
              - read:user
          facebook:
            clientId: ${FB_ID}
            clientSecret: ${FB_SECRET}
            scope:
              - profile
            redirect-uri: ${SERVER_ORIGIN}/oauth2/code/facebook





  datasource:
    url: jdbc:${PG_URL}
    username: ${PG_USER}
    password: ${PG_PW}
    hikari:
      auto-commit: false


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true





jwt:
  signerKey: ${SIGNER_KEY}
  valid-duration: 3600
  refreshable-duration: 86400
  reset-password-key: ${REFRESH_KEY}
  reset-password-duration: 300



